<!--  -->

<div class="cards">
  <% Cat.all.each do |cat| %>
  <div class="card">
    <div class="card-image">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png" alt="">
    </div>
    <div class="card-header">
      <%= cat.name %>
    </div>
    <div class="card-copy">
      <p><%= cat.name %> is <%= cat.age %> years old and is a <%= cat.breed %>. <%= cat.description %></p>
    </div>
    <form action="/cat/<%= cat.id %>/charges/new">
    <button type="submit">Adopt me!</button>
  </form>
  </div>
  <% end %>
</div>
<!--  -->
