<!--  -->

<div class="cards">
  <% Cat.all.each do |cat| %>
  <div class="card">
    <div class="card-image">
      <img src="http://edgecats.net/?<%= cat.id %>" alt="">
    </div>
    <div class="card-header">
      <%= cat.name %>
    </div>
    <div class="card-copy">
      <p><%= cat.name %> is <%= cat.age %> years old and is a <%= cat.breed %>. <%= cat.description %></p>
    </div>
    <form action="/cat/<%= cat.id %>/charges/new">
    <button class = button type="submit">Adopt me!</button>
  </form>
  <% if policy(cat).destroy? %>
    <%= button_to 'X', cat_path(cat), method: :delete %>
  <% end %>
  </div>
  <% end %>
</div>
<!--  -->
